* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    background-image: url("/img/taza-cafe-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    margin-bottom: 30px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_nav {
    text-align: center;
    margin: 15px;
    padding: 10px;
}

.header_nav_a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border: 3px solid lightblue;
    display: inline-block;
    max-width: fit-content;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 5em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
    margin: 5px;
}

h3 {
    margin: 10px;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
}

ul {
    margin-bottom: 30px;
    list-style: none;
    text-align: center;
    width: 100%;
}

li {
    display: inline-block;
    width: 15%;
    position: center;
}

a {
    text-decoration: none;
}

nav ul li a {
    font-weight: bolder;
}

div img {
    width: 20%;
}

div p {
    margin-left: 30%;
    margin-right: 30%;
    width: 100%;
    max-width: fit-content;
    text-align: center;
}

#servicios {
    text-align: center;
}

#clientes {
    text-align: center;
    background-color: azure;
}

#Planes {
    width: 100%;
    text-align: center;
    background-color: burlywood;
}

#Planes div {
    display: inline-block;
    max-width: fit-content;
    padding: 30px;
}

#Sobre_mi {
    text-align: center;
    background-color: azure;
}

#Contacto {
    text-align: center;
}

div form {
    text-align: center;
    display: inline-block;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: slategray;
}

.div-iconos {
    text-align: center;
}

.div-iconos img {
    max-width: 50px;
    padding: 10px 15px;
}